.cb-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-flow: row;
  }
  
  .mat-checkbox {
    margin-left:20px;
  } 
  
  .cb-vertival {
    flex-flow: column;
  }

/* 
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff; 
} */


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color:   rgb(126, 2, 2);
}
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color:navy;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: rgb(126, 2, 2);
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: rgb(126, 2, 2);
}