
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Add User</h4>
            </div>
            <div class="card-body">
              <!-- <div class="brand-wrapper">
                <img src="assets/images/logo.png" alt="logo" class="logo">
              </div>
             -->
              <form (ngSubmit)="submitForm()">
                <div class="form-group">
                  <label for="email" class="sr-only">UserName</label>
                  <input type="email" [(ngModel)]="userObj.username" name="username" id="username" class="form-control" placeholder="Username">
                </div>
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" [(ngModel)]="userObj.email"  id="email" class="form-control" placeholder="Email address">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" [(ngModel)]="userObj.password"  id="password" class="form-control" placeholder="***********">
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Roles</mat-label>
                      <mat-select [(ngModel)]="userObj.roleId"  name="roleId">
                        <mat-option *ngFor="let role of lstRoles" [value]="role.id">
                          {{role.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
               <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Team</mat-label>
                      <mat-select [(ngModel)]="userObj.teamId"  name="teamId">
                        <mat-option *ngFor="let tm of lstTeams" [value]="tm.id">
                          {{tm.name}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> 
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">
                </form>
         
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
